@media only screen and (max-width:64em) and (min-width:32.5em) {
    .main-grid {
        grid-template-columns: 1fr 200px 200px 1fr;
        grid-template-rows: 160px 80px 1350px 80px 1300px 60px;
    }
    .head-two {
        grid-column: 3/4;
        grid-row: 2/3;
    }
    .head-three {
        grid-column: 2/4;
        grid-row: 4/5;
    }
    .block-1 {
        grid-column: 2/3;
        grid-row: 3/4;
    }
    .block-2 {
        grid-column: 3/4;
        grid-row: 3/4;
    }
    .block-3 {
        grid-column: 2/4;
        grid-row: 5/6;
    }
    .block-3 p, .block-3 img {
        width: 405px;
    }
    .footer-bottom {
        grid-row: 6/7;
    }
}