h1, h2, h3 { font-family: 'Montserrat', 'Open Sans', sans-serif; }

ul, p, a, label, legend, input, span { 
	font-family: 'Roboto', 'Open Sans', sans-serif; 
}
#meetandgreet {
	background-color: #36454f;
	display: flex;
	flex-flow: row;
	align-items: center;
	text-align: center;
	justify-content: center;

}
#meetandgreet p {
	color: white;
	font-size: 1.25em;
}
header {
	background-color: #EFE9CE;
	display: grid;
	grid-template-columns: 20% 1fr 8% 8%;
	grid-template-rows: 120px 1fr;
	align-items: center;
	text-align: center;
	justify-content: center;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding-bottom: 10px;
}
.titledate {
	padding-left: 20px;
	display: flex;
	flex-flow: row;
	align-items: center;
	text-align: center;
}
.titledate p, .titledate h2 {
	margin: 5px;
}
.titledate p {
	padding-left: 40px;
}
nav {
	grid-row: 2/3;
	grid-column: 1/5;
	background-color: #36454f;
	margin: 0 auto;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
	width: 80%;
	min-width: 90px;
}
nav ul {
	list-style-type: none;
	overflow: hidden;
	padding-left: 0;
	margin: 0;
}
nav ul li a {

	display: block;
	color: #fff;
	padding: 15px;
	text-align: center;
	text-decoration: none;
}
nav ul li a:hover {
	background-color: white;
	color: black;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.responsive li {
	display: block;
}

header img {
	max-height: 100px;
	padding-left: 10px;
	padding-right: 10px;
	grid-column: 1/2;
	grid-row: 1/2;
}
header p {
	padding-right: 10px;
}
header a:hover, footer a:hover {
	background-color: transparent;
}
footer a {
	text-decoration: none;
	color: black;
}
footer a:hover {
	color: white;
}

footer {
	background-color: #EFE9CE;
	display: flex;
	flex-flow: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	padding: 10px;
	border: 1px solid rgba(0, 0, 0, 0.1);
}
footer img {
	padding-bottom: 10px;
}
main {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
	border: 1px solid rgba(0, 0, 0, 0.1);
}
#hero, #event, #weather, #join, #news, #spotlight {
	margin: 10px;
	padding: 10px;
	display: block;
	background-color: #efe9ce97;
	min-height: 200px;
	min-width: 90%;
	text-align: center;
}
#event img, #join img, #news img {
	width: 100%;
}

#spotlight {
	min-height: 450px;
	min-width: 90%;
	display: flex;
	flex-flow: column;
}
#spotlight section {
	border: 1px solid rgba(0, 0, 0, 0.5);
	margin: 0;
	padding: 10px;
}
#spotlight section img {
	display: block;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
}
#spotlight section:nth-child(3n) {
	display: none;
}
#hero {
	position: relative;
	text-align: center;
}
#hero h2 {
	border-radius: 5px;
	position: absolute;
	top: 8px;
	left: 20%;
	right: 20%;
	background-color: #EFE9CE;
	padding: 5px;
	border: 3px solid rgba(0, 0, 0, 0.9);
}
#hero p {
	border-radius: 5px;
	position: absolute;
	bottom: 8px;
	left: 10%;
	right: 10%;
	background-color: #EFE9CE;
	padding: 5px;
	border: 3px solid rgba(0, 0, 0, 0.9);
}
picture img {
	width: 100%;
}
#weather {
	display: flex;
	flex-flow: column;
	text-align: center;
	align-items: center;
}
#weather img {
	height: 75px;
	width: 75px;
}
#description {
	text-transform: capitalize;
}
.discovermain {
	display: flex;
	flex-flow: column;
	align-items: center;
	text-align: center;
	justify-content: center;
}
.discovermain img {
	margin-top: 14px;
	max-width: 90%;
}
.discovermain p {
	padding-bottom: 20px;
	max-width: 90%;
} 
.thankyoucontent {
	display: flex;
	flex-flow: column;
	padding-top: 100px;
	padding-bottom: 150px;
}
fieldset {
	margin-top: 15px;
	background-color: #efe9ce97;
}
.form-flex {
	border: none;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	margin-right: 50px;
	margin-left: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.subform-grid1 {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	justify-items: center;
}
.subform-grid1 label {
	width: 220px;
	margin-top: 10px;
}
legend {
	font-size: 1.2em;
}
.subform-grid2 {
	display: flex;
	flex-flow: column;
}
.subform-grid2 label {
	margin-top: 10px;
}
.subform-grid2 span {
	margin-left: 17px;
	margin-top: 2px;
}
textarea {
	resize: none;
	width: 99%;
}
.confirm {
	display: flex;
	flex-flow: column;
}
form {
	display: flex;
	flex-flow: column;
	justify-content: center;
}
.submitbutton {
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	background-color: #efe9ce97;
	border-radius: 5px;
}
.submitbutton:hover {
	background-color: #36454f;
	color: white;
}
.directorymain {
	display: block;
}
.directorymain h2 {
	text-align: center;
}
.buttons {
	display: flex;
	flex-flow: row;
	justify-content: center;
}
.directorymain button {
	margin: 10px;
	padding: 10px;
	width: 70px;
	background-color: #36454f;
	color: white;
}
.directorymain button:hover {
	background-color: #F5F2E2;
	color: black;
}
#directory-grid {
	display: grid;
	grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
#directory-grid section {
	height: 300px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
	text-align: center;
	margin: 15px;
	background-color: #F5F2E2;
    border: 2px solid #36454F;
	border-radius: 5px;
}
.cards section img {
	border: 2px solid #36454F;
	height: 100px;
	max-width: 100%;
	margin-bottom: 20px;
}
.cards section p {
	margin-top: 0px;
}

#directory-list section:nth-child(odd) {
	background-color: #F5F2E2;
}
#directory-list section {
	padding: 15px;
}
